<div class="row">
  <div *ngIf="this.isOwner==='owner'" [ngClass]="this.toPublish ? 'col-lg-6':'col-lg-12'">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h5 class="m-0 font-weight-bold text-primary">Question generator</h5>
      </div>
      <div class="card-body">

        <form [formGroup]="questionForm">
          <label>
            Please type the question text:
            <input maxlength="80" formControlName="text" />
          </label>

          <div formArrayName="variants">
            <div *ngFor="let item of variants.controls; let variantIndex=index" [formGroupName]="variantIndex">
              <label>
                {{variantIndex+1}}. <input maxlength="80" formControlName="variant"/>
              </label>
              <a *ngIf="variantIndex>0 || variantIndex===0 && variants.controls.length > 1" type="button" (click)="deleteVariant(variantIndex)"><fa-icon [icon]="faTrashAlt"></fa-icon></a>
              <a *ngIf="variantIndex===variants.controls.length-1 && variants.controls.length < 10" type="button" (click)="addVariant()"><fa-icon [icon]="faPlus"></fa-icon></a>
            </div>
          </div>

          <div [ngStyle]="{'height':'50px', 'position': 'relative'}">
            <div [ngStyle]="{'position': 'absolute', 'bottom':'0'}">{{this.questionForm.value.variants.length}}/10 possible answers</div>
            <div [ngStyle]="{'position': 'absolute', 'bottom':'0', 'right':'0'}">
              <button class="btn btn-success" (click)="publishForm()">Publish</button>
              <button class="btn btn-danger" (click)="resetForm()">Reset</button>
            </div>
          </div>


        </form>

        <div *ngIf="!this.toPublish && !this.formInit" class="alert alert-danger">
          Please provide a valid question text and minimum two valid answer options.
        </div>


      </div>
    </div>
  </div>

  <div *ngIf="this.toPublish" [ngClass]="this.isOwner==='owner' ? 'col-lg-6':'col-lg-12'">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h5 class="m-0 font-weight-bold text-primary">Question preview</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="questionForm">
          <h3>{{ this.questionForm.value.text }}</h3>
          <div *ngFor="let item of this.questionForm.value.variants; let variantIndex=index">
            <input
              type="radio"
              (click)="selectOption(variantIndex)"
              [(checked)]="item.checked"
              [value]="item.variant">
            <label>
              {{item.variant}}
            </label>
          </div>

          <div [ngStyle]="{'height':'50px', 'position': 'relative'}">
            <div [ngStyle]="{'position': 'absolute', 'bottom':'0', 'right':'0'}">
              <button class="btn btn-success" (click)="vote()">Vote</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<div *ngIf="this.toPublish" class="row">
  <div class="col-lg-12 mb-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h5 class="m-0 font-weight-bold text-primary">Results</h5>
      </div>
      <div class="card-body">
        <div *ngFor="let item of this.questionForm.value.variants">
          <h4 class="small font-weight-bold">{{item.variant}}<span class="float-right">{{item.counter}}</span></h4>
          <div class="progress mb-4">
            <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{'width':(item.counter*100)/this.votes+'%'}"></div>
          </div>
        </div>
        Total votes: {{this.votes}}
      </div>
    </div>
  </div>
</div>
