<div class="content" role="main">
  <div id="wrapper">

    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
      <!-- Sidebar -->
    </ul>


    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">

        <nav *ngIf="this.userStatus" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <div class="navbar-nav">
            <nav-dropdown (navEvent)=getCurrentRoute($event)></nav-dropdown>
            <button class="btn btn-outline-primary btn-lg h-25" (click)="logout()">
              Logout
            </button>
          </div>
        </nav>


        <div class="container-fluid">

          <login (loginEvent)=loginMessage($event) [(isAuthenticated)] = this.userStatus></login>
          <welcome [(isAuthenticated)] = this.userStatus [(currentRoute)]=this.currentRoute [potatoes]=this.potatoes></welcome>

        </div>

      </div>

      <footer class="sticky-footer">

      </footer>

    </div>

  </div>
</div>
